.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  font-size: 0.5em;
  text-anchor: middle;
  display: grid;
  align-content: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Icon-credit {
  font-size: 0.5em;
}

.Home-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px; 
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  min-height: 30vh;
  font-size: calc(10px + 2vmin);
}

img {
  margin: 0 auto;
}